body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Dark gray background */
    color: #ffffff; /* White text */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav {
    text-align: center;
    padding-bottom: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff; /* White text */
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #cccccc; /* Light gray text */
    font-weight: bold;
}

nav a:hover {
    color: white /* White text */
}

.main {
    padding: 20px 0;
}

.hero {
    background: url('../images/hero-background.jpg');
    background-size: cover;
    background-position: 50% 40%;
    color: #ffffff; /* White text */
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

.about {
    color: #ffffff; /* White text */
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

.menu {
    background-color: #1a1a1a; /* Light gray background */
    color: #ffffff; /* White text */
    padding: 40px;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff; /* Dark gray text */
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    font-size: 24px;
    margin-top: 20px;
}

.menu-item p {
    font-size: 18px;
    line-height: 1.6;
    color: #666; /* Medium gray text */
}


footer {
    background-color: #1a1a1a; /* Dark gray footer background */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
