body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Dark gray background */
    color: #ffffff; /* White text */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
}

nav {
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the container */
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 35px;
    color: #ff9900; /* White text */
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #cccccc; /* Light gray text */
    font-weight: bold;
}

nav a:hover {
    color: #ff9900; /* White text */
}

.order {
    margin-left: auto; /* Push the section to the far right */
}

.main {
    padding: 20px 0;
}

.hero {
    background: url('../images/hero-background.jpg');
    background-size: cover;
    background-position: 50% 40%;
    color: #ff9900;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

.about {
    color: #ffffff; /* White text */
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

.order {
    color: #fff; /* White text */
    padding: 40px;
    text-align: center;
}

.order h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.order p {
    font-size: 18px;
    line-height: 1.6;
}

.order .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900; /* Orange button color */
    color: #fff; /* White text */
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.order .btn:hover {
    background-color: #e68300; /* Darker orange color on hover */
}

.menu {
    background-color: #1a1a1a; /* Light gray background */
    color: #ffffff; /* White text */
    padding: 40px;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff; /* Dark gray text */
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    font-size: 24px;
    margin-top: 20px;
}

.menu-item p {
    font-size: 18px;
    line-height: 1.6;
    color: #666; /* Medium gray text */
}


footer {
    background-color: #1a1a1a; /* Dark gray footer background */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
